body {
    background-color: black;
    color: #00cc00;
    font-family: monospace;
    margin-left: 20%;
    margin-right: 20%;
}

/* Tablet portrait and smaller */
@media only screen
  and (max-device-width: 900px) {

    body {
	margin-left: 10%;
	margin-right: 10%;
    }

}
